.container{
	margin-bottom: 150px;
}
.box{
	width: 200px;
	height: 200px;
	margin-bottom: 50px;
	background-color: #F5F5F5;

}
.box2{
	width: 200px;
	height: 200px;
	margin-bottom: 50px;
	background-color: blue;

}
.flex{
	background-color: #F5F5F5;
	border: 3px solid skyblue;
}
.mh{
	min-height: 200px;
}
